.alert__wrapper {
	max-width: 672px;
	background: #1A1A1A;
	border: 1px dashed $border;
	border-radius: 5px;
	gap: 24px;
	padding: 16px 16px 16px 16px;
}

.alert--second {
	padding: 89px 0px 153px 0px;
}

.alert__item {
	position: relative;
	margin: 16px 0px 24px 0px;
	padding: 9px 0px 9px 0px;
	gap: 8px;
	isolation: isolate;
	border-radius: 4px;

	&.alert__item--large {
		display: flex;
		justify-content: space-between;
		gap: 4px;
		padding: 9px 12px 9px 16px;
	}

	&.alert__item--info {
		background-color: $bgInfo;
		border-color: $borderInfo;
	}
	
	&.alert__item--warning {
		background-color: $bgWarning;
		border-color: $borderWarning;
	}
	
	&.alert__item--danger {
		background-color: $bgDanger;
		border-color: $borderDanger;
	}
	
	&.alert__item--success {
		background-color: $bgSuccess;
		border-color: $borderSuccess;
	}	

	&.alert__item--border {
		border-width: 1px;
		border-radius: 4px;
		border-style: solid;
	}
}


.alert__media {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 9px;

	&.alert__media--large {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
	}

	&.alert__media--info {
		display: flex;
		gap: 4px;
	}
}

.alert__media--content {

	&.alert__content {
		font-size: 12px;
		line-height: 18px;
	}
}


.alert__action {
	font-size: 12px;
	line-height: 18px;
	color: $action;
}

.alert__close {
	padding: 6px;
	background-image: url(../images/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #00000000;

	&.alert__close--position {
		position: absolute;
		top: 15px;
		left: 600px;
	}
}	

