$purpleLink:#907FF0;
$btnInfo:  #907FF0;
$btnWarning:  #FFA62A;
$btnDanger: #F07369;
$btnSuccess: #3CD6A3;
$borderInfo: #907FF03D;
$borderWarning: #FFA62A3D;
$borderDanger: #EE53473D;
$borderSuccess: #3CD6A33D;
$bgInfo:#907FF029;
$bgWarning:#FFA62A29;
$bgDanger:#EE534729;
$bgSuccess: #3CD6A329;
$action: #907FF0;
$bgBody: #1A1A1A;
$border: #9747FF;
$font: #FFFFFF;
$headerbackground: #0D0D0D;